.checkout {
  display: flex;
  padding: 20px;
  background-color: white;
  height: max-content;
  justify-content: space-around;
}
.checkout-left {
  width: 80%;
}

.checkout-title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}
.checkout-top {
  display: flex;
  justify-content: space-between;

  h3 {
    margin-right: 12px;
  }
}
.checkout-right {
  flex: 0.7;
}
.no-items {
  button {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    padding: 6px;
    border-radius: 8px;
    margin-left: 1rem;
  }
}
@media only screen and (max-width: 800px) {
  .checkout-top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4px;
    h3 {
      margin-bottom: 8px;
      margin-right: 0;
    }
  }
}
