.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  input {
    margin: 1rem 0 4px 0;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
  }

  height: 120px;
  padding: 10px;
  background-color: #f3f3f3;
  border: 1px solid #dddddd;
  border-radius: 3px;
  input {
    border: none;
    background-color: #f3f3f3;
  }
  button {
    padding: 4px;
  }
}

.subtotal > button {
  background: #f0c14b;
  border-radius: 2px;
  width: 100%;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}

@media only screen and (max-width: 800px) {
  .subtotal {
    width: 300px;
  }
}
